
@import url(root.css);
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
    transition: all 500ms linear;
}
/* header */
.gap-30{
    gap: 30px;
}
.f-border{
    border-radius: 5px;
border: 1px solid var(--black, #373737);
padding: 10px 22px;
transition: 2s;
}
.f-border:hover{
    border-radius: 5px;
background-color: #FF5300;
color: #fff;
}
.btn-get{
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
}
.pt-159{
    padding-top: 159px;
}
.pt-217{
    padding-top: 217px;
}
.pb-149{
    padding-bottom: 149px;
}
/* 1st section */
.f-card{
    max-width: 370px;
border-radius: 10px;
background: var(--whit, #FFF);
/* Effect-1 */
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
padding: 12px 12px;
}
.mb-20{
    margin-bottom: 20px;
}
.px-100{
    padding: 100px;
}
/* 2nd section */
.pt-120{
    padding-top: 120px;
}
.pl-15{
    padding-left: 15px;
}
/* 3rd section */
.gap-67{
    gap: 67px;
}
.f-li{
    transition: .5s;
}
.f-li:hover{
    padding: 15px 50px;
    border-radius: 10px;
}
.gridbox{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.griditem1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.griditem2{
    grid-row:2/3;
    grid-column: 1/2;
}
.griditem3{
    grid-row: 3/4;
    grid-column: 1/2;
}
.griditem4{
    grid-row: 1/2;
    grid-column: 2/3;
}
.griditem5{
    grid-row: 2/3;
    grid-column: 2/3;
}
.griditem6{
    grid-row: 3/4;
    grid-column: 2/3;

}.griditem7{
    grid-row: 1/2;
    grid-column: 3/4;
}
.griditem8{
    grid-row: 2/3;
    grid-column: 3/4;
}
.griditem9{
    grid-row: 3/4;
    grid-column: 3/4;
}
.tamplate-card{
    max-width: 266px;
    background: rgba(255, 83,0,0.75); 
    position: absolute;
    top: 15%;
    left: -100%;
    z-index: -1;
    cursor: pointer;
}
.hover-card-0:hover .tamplate-card{
    top: 10px;
    left: 9%;
    transition: ease-in-out all 800ms;
    z-index: 2;
}
.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.py-40{
    padding-left: 40px;
    padding-right: 40px;
}
.pt-30{
    padding-top: 30px;
}
/* 4th section */
.f-slider-card{
    border-radius: 10px;
background: var(--whit, #FFF);
/* Effect-1 */
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
max-width: 370px;
padding: 25px 28px;
}
.m-0{
margin-bottom: 0;
}
.pl-40{
    padding-left: 40px;
}
.mx-2{
    margin: 2px;
}
.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: red !important;
    -webkit-font-smoothing: antialiased;
}
.arrow-border{
    border: 2px solid var(--text-black);
    border-radius: 50px;
}
.position-left {
    position: absolute;
    right: 30%;
    top: 90%;
}
.position-right{
    position: absolute;
    right: 13%;
    top:90%;
}
.pb-120{
    padding-bottom: 120px;
}

/* 5th section */
.m-card{
    border-radius: 5px;
background: var(--whit, #FFF);
margin-left: auto;
margin-right: auto;

/* Effect-1 */
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
max-width: 125px;
}

.j-card{
    border-radius: 10px;
background: var(--orange, #FF5300);
max-width: 1171px;
margin-right: auto;
margin-left: auto;
}
.line-1::after{
    position: absolute;
    content: '';
    top: 7% ;
    left: 100% ;
    width: 3px;
    height: 134px;
    border-radius: 4px;
    background: var(--whit, #fff);
}
.bg-orange{
    background-color: #FF5300;
}
/* 6th ssection */
.w-card{
    border-radius: 10px;
background: var(--whit, #FFF);

/* Effect-1 */
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
max-width: 370px;
padding: 15px 15px 30px 15px;
}
.pl-5{
    padding-left: 5px;
}
.btn-read{
    padding:13px 23px 12px 22px;
    border: none;
    border-radius: 5px;
}
.pl-10{
    padding-left: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pb-90{
    padding-bottom: 90px;
}
.pl-10{
    padding-left: 10px;
}
/* 7th section */
.a-card{
    border-radius: 10px;
    background: var(--orange, #FF5300);
    
    /* Effect-1 */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
   max-width: 1170px;
   padding-top: 51px;
 
   padding-bottom: 51px;
}
.btn-subscribe{
    padding: 15px 33px;
    border: none;
}
.btn-subscribe-now{
    padding: 13px 23px 12px 22px;
    border: none;
}
input{
    padding: 23px 25px;
}
.position-subscribe{
    position: absolute;
    top: 8px;
    right: 21px;
}
.f-svg{
    max-width: 40px;
    height: 1px;
}
.f-footer-boder{
    background-color: #fff;
    border-radius: 100%;
    padding: 13px;
    align-items: center;
}
.f-footer-border{
    background-color: #FF5300;
    border-radius: 100%;
    padding: 10px;
    align-items: center;
}
.pl-20{
    padding-left: 20px;
}
.f-icon:hover{
 color: #FFF;
 transition: 2ms;
}
.f-footer-line{
    background: #FFF;
    max-width: 1170px;
height: 2px;
}
.pl-100{
    padding-left: 100px;
}
.pl-30{
    padding-left: 30px;
}
.ml-20{
    margin-left: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pr-30{
    padding-right: 30px;
}
.pr-10{
    padding-right: 10px;
}
.pr-18{
    padding-right: 18px;
}
.p-12{
    padding: 12px;
}
.br-50{
    border-radius: 50px;
}

@media (max-width:992px) {
    label[for="icon"] {
        display: flex;
        z-index: 2;
        flex-direction: column;
        width: 40px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 20px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    label[for="icon"]>span {
        width: 100%;
        height: 4px;
        background-color: rgb(12, 13, 18);
        z-index: 1;
    }
    input[type="checkbox"]:checked+ul.phoneview {
        right: 0;
        pointer-events: all;
        opacity: 1;
    }
    .phoneview{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        right: -1000px;
        background-color: rgb(216, 208, 203);
        pointer-events: none;
        z-index: 1 ;
        opacity: 0;
        transition: all linear 800ms;
        top: 0px;
    }
    .line-1::after{
        display: none !important;
    }
}



@media (max-width:768px) {
     .pt-20{
        padding-top: 20px;
     }
}
@media (max-width:992px) {
    .griditem1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .griditem2{
        grid-column:3/4;
        grid-row: 1/2;
    }
    .griditem3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .griditem4{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .griditem5{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .griditem6{
        grid-column: 3/4;
        grid-row: 5/6;
    
    }.griditem7{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .griditem8{
        grid-column: 3/4;
        grid-row: 7/8;
    }
    .griditem9{
        grid-column: 1/2;
        grid-row: 9/10;
    }
}
@media (max-width:568px) {
    .griditem1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .griditem2{
        grid-column:1/2;
        grid-row: 2/3;
    }
    .griditem3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .griditem4{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .griditem5{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .griditem6{
        grid-column: 1/2;
        grid-row: 6/7;
    
    }.griditem7{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .griditem8{
        grid-column: 1/2;
        grid-row: 8/9;
    }
    .griditem9{
        grid-column: 1/2;
        grid-row: 9/10;
    }
}
@media (min-width:992px) {
    .position-subscribe{
        position: absolute;
        top: 26px;
        right: 21px;
    }

    
}
@media (min-width:576px) {
    .hover-card-0:hover .tamplate-card{
        top: -5px;
        left: 3%;
        transition: ease-in-out all 800ms;
        z-index: 2;
    }
    
}
@media (min-width:768px) {
    .hover-card-0:hover .tamplate-card{
        top: 23px;
        left: 14%;
        transition: ease-in-out all 800ms;
        z-index: 2;
    }
}
@media (max-width:992px) {
 .d-none{
    display:none;
 }
}
@media (min-width:576px) {
    .pl-sm-30{
        padding-left: 30px;
    }
    .pl-sm-100{
        padding-left: 100px;
    }
    .ml-sm-475{
        margin-left: 475px;
    }
}